<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="https://previews.dropbox.com/p/thumb/AAeS-E6oV_hkze8dFv7sULW5tLMMRBEmg7kJH8JaNGtGPhSt8Opv3gFPAIoxHjDSwYTnHOUS-vXZJA3Q3sLQW0DDpHdvzIhGA7WGAOtOrOQ6lRhjwsvbO4UGSrrDLxlFlZFHufQBignJEIKo7_4p0EwUC13Xx38oVmvvmWbM1ESpCdjSmPsM0byFCXqCj-pTIPNacPlN-nF-DwwU2GkJl55M5oWL-1bB_oy5j_kpYjvHgjQOUBOgrwRlvh7_9SxurgGC67jmgUivp7zNIVKcWNJ7nsQMWdaN9tUUp6fOs76wWVZs0kkR2WYLadlX8w6MloV1xA4lgNvpFqmR4LARekQP/p.png?fv_content=true&size_mode=5">
  <title>LaBikla</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
